body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

table.calculadora{
    border-collapse: collapse;
    width: auto;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table.calculadora th{
    padding: 10px;
    border-bottom: 2xp solid #444;
    display: -webkit-inline-box;
}

.opcoes{
    display: flex;
    justify-content: space-between;
}

table.calculadora input {
    
    padding: 15px;
    font-size: 20px;
    border:none;
    background-color: #222;
    color: #fff;
    text-align: right;
    border-radius: 5px;
}

.botao.clicado   {
    background-color: #7856ffd6;
}


table.calculadora input.nua{
    border-bottom: 2px solid #555;
    width: 100%;
}

table.calculadora input.nuB{
    border-top: 2px solid #555;
}

table.calculadora input.nuC{
    border-top: 2px solid #555;
}

table.calculadora input:focus{
    outline: none;
}